@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
body {
  background-color: #f2f4f6;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  background-image: url("images/logo_big.png");
  background-image: -webkit-image-set(url("images/logo_big.png") 1x, url("images/logo_big@2x.png") 2x);
  width: 385px;
  height: 81px;
  text-indent: -9999px;
  white-space: nowrap;
  margin: 50px auto;
}

@media all and (max-width: 420px) {
  h1 {
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media all and (max-width: 330px) {
  h1 {
    width: 250px;
  }
}

h2 {
  font-size: 20px;
  color: #A9B2BC;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  display: block;
}

h3 {
  font-size: 28px;
  color: #C7CCD1;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 100px;
  text-align: center;
  position: relative;
}

h3#download-section {
  margin-top: 50px;
  padding-top: 40px;
}

h3::after {
  content: "";
  background-color: #e2e5e8;
  height: 4px;
  width: 700px;
  left: 50%;
  margin-left: -350px;
  position: absolute;
  margin-top: -50px;
  border-radius: 2px;
}

@media all and (max-width: 740px) {
  h3::after {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
}

a {
  text-decoration: none;
}

p {
  max-width: 826px;
  margin: 30px auto;
  font-size: 17px;
  font-weight: 300;
  color: #848D94;
  line-height: 25px;
  text-align: left;
}

p.center {
  text-align: center;
}

p strong {
  color: #8A8F94;
  font-weight: 600;
}

p a {
  color: #9ECADF;
  font-weight: 600;
}

p a:hover {
  text-decoration: underline;
}

p a.twitter {
  color: #5eaade;
}

p a.dribbble {
  color: #f26798;
}

p a.github {
  color: #323131;
}

button, .button {
  background-color: #AEDEF4;
  color: white;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 35px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}

button:focus, .button:focus {
  outline: none;
}

button:hover, .button:hover {
  background-color: #a1d9f2;
}

button:active, .button:active {
  background-color: #81ccee;
}

button.cancel, .button.cancel {
  background-color: #D0D0D0;
}

button.cancel:hover, .button.cancel:hover {
  background-color: #c8c8c8;
}

button.cancel:active, .button.cancel:active {
  background-color: #b7b7b7;
}

button.download, .button.download {
  position: fixed;
  right: 30px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #ABCADA;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 3;
}

@media all and (max-width: 1278px) {
  button.download, .button.download {
    display: none;
  }
}

.center-container {
  max-width: 700px;
  margin: 70px auto;
}

pre {
  background-color: #49483e;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-line;
  text-align: left;
  font-size: 14px;
  max-width: 600px;
}

pre .str {
  color: #e6db74;
}

pre .func {
  color: #66d9ef;
}

pre .val {
  color: #a381ff;
}

pre .tag {
  color: #e92772;
}

pre .attr {
  color: #a6e22d;
}

pre .arg {
  color: #fd9720;
}

.showcase {
  background-color: #eceef0;
  padding: 20px;
  display: inline-block;
  width: 383px;
  vertical-align: top;
  position: relative;
}

@media all and (max-width: 865px) {
  .showcase {
    margin: 5px auto;
    padding: 46px 20px;
  }
}

@media all and (max-width: 440px) {
  .showcase {
    width: auto;
  }
}

.showcase h4 {
  font-size: 16px;
  color: #BCBCBC;
  line-height: 22px;
  margin: 0 auto;
  font-weight: 400;
}

.showcase.sweet h4 {
  width: 117px;
  height: 25px;
  margin-top: -3px;
  text-indent: -9999px;
  background-image: url("images/logo_small.png");
  background-image: -webkit-image-set(url("images/logo_small.png") 1x, url("images/logo_small@2x.png") 2x);
}

.showcase h5 {
  margin-bottom: -7px;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  color: #c2c2c2;
}

.showcase button {
  margin-bottom: 10px;
}

.showcase .vs-icon {
  background-image: url("images/vs_icon.png");
  background-image: -webkit-image-set(url("images/vs_icon.png") 1x, url("images/vs_icon@2x.png") 2x);
  width: 69px;
  height: 69px;
  position: absolute;
  right: -34px;
  top: 60px;
  z-index: 2;
}

@media all and (max-width: 865px) {
  .showcase .vs-icon {
    margin: 5px auto;
    right: auto;
    left: 50%;
    margin-left: -35px;
    top: auto;
    bottom: -35px;
  }
}

ul.examples {
  list-style-type: none;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  padding-left: 0;
}

@media all and (max-width: 758px) {
  ul.examples {
    width: auto;
  }
}

ul.examples li {
  padding-left: 0;
}

ul.examples .ui, ul.examples pre {
  display: inline-block;
  vertical-align: top;
}

@media all and (max-width: 758px) {
  ul.examples .ui, ul.examples pre {
    display: block;
    max-width: none;
    margin: 0 auto;
  }
}

ul.examples .ui {
  width: 300px;
  text-align: center;
}

ul.examples .ui button {
  margin-top: 12px;
}

ul.examples .ui p {
  text-align: center;
  margin-bottom: 0;
}

ul.examples pre {
  max-width: 370px;
  margin-top: 67px;
}

@media all and (max-width: 758px) {
  ul.examples pre {
    margin-top: 16px !important;
    margin-bottom: 60px;
  }
}

ul.examples .warning pre {
  margin-top: 93px;
}

ol {
  max-width: 700px;
  margin: 70px auto;
  list-style-position: inside;
  padding-left: 0;
}

ol li {
  color: #A7ADB2;
}

ol li p {
  margin-bottom: 10px;
}

table {
  width: 700px;
  font-size: 14px;
  color: #8a8f94;
  margin: 10px auto;
  text-align: left;
  border-collapse: collapse;
}

@media all and (max-width: 750px) {
  table {
    width: auto;
    margin: 10px 20px;
  }
}

table th {
  background-color: white;
  padding: 9px;
  color: #acb9be;
  font-weight: 400;
  text-align: center;
  position: relative;
}

table th .border-left, table th .border-right {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: 0;
  left: -17px;
  width: 37px;
  height: 37px;
}

table th .border-right {
  left: auto;
  right: -17px;
}

@media all and (max-width: 750px) {
  table th:nth-child(2) {
    display: none;
  }
}

table td {
  padding: 10px 20px;
  vertical-align: top;
}

table td:first-child {
  padding-left: 0px;
}

table td:last-child {
  padding-right: 0px;
}

@media all and (max-width: 750px) {
  table td:nth-child(2) {
    display: none;
  }
}

@media all and (max-width: 360px) {
  table td {
    padding: 10px 4px;
  }
  table td b {
    font-size: 13px;
  }
}

footer {
  margin-top: 100px;
  padding-bottom: 30px;
  color: #9A999F;
  display: inline-block;
  position: relative;
  color: gray;
  font-weight: 400;
  color: #93a1aa;
  font-weight: 300;
}

footer .te-logo {
  text-indent: -99999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
  background-image: url("images/te-logo-small.svg");
  position: absolute;
  left: -22px;
  top: 3px;
}

.sweet-alert.twitter {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
  padding-top: 55px;
  text-align: right;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.11), 0px 6px 30px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.11), 0px 6px 30px rgba(0, 0, 0, 0.14);
}

.sweet-alert.twitter ~ .sweet-overlay {
  background: rgba(41, 47, 51, 0.9);
}

.sweet-alert.twitter h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #8899a6;
  margin: 0;
  color: #66757f;
  border-bottom: 1px solid #e1e8ed;
}

.sweet-alert.twitter p {
  display: block;
  text-align: center;
  color: #66757f;
  font-weight: 400;
  font-size: 13px;
  margin-top: 7px;
}

.sweet-alert.twitter .sa-button-container {
  background-color: #f5f8fa;
  border-top: 1px solid #e1e8ed;
  -webkit-box-shadow: 0px -1px 0px white;
          box-shadow: 0px -1px 0px white;
  margin: -15px;
  margin-top: 0;
}

.sweet-alert.twitter[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 10px;
}

.sweet-alert.twitter[data-has-confirm-button=false][data-has-cancel-button=false] .sa-button-container {
  display: none;
}

.sweet-alert.twitter button {
  border-radius: 2px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  margin: 17px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  position: relative;
}

.sweet-alert.twitter button:focus, .sweet-alert.twitter button.cancel:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.sweet-alert.twitter button:focus::before, .sweet-alert.twitter button.cancel:focus::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #a5b0b4;
  border-radius: 8px;
}

.sweet-alert.twitter button.confirm {
  background-color: #55acee !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
  border: 1px solid #3b88c3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  margin-right: 15px;
}

.sweet-alert.twitter button.confirm:hover {
  background-color: #55acee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
  border-color: #3b88c3;
}

.sweet-alert.twitter button.cancel {
  color: #66757e;
  background-color: #f5f8fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f8fa));
  background-image: linear-gradient(#fff, #f5f8fa);
  text-shadow: 0px -1px 0px white;
  margin-right: 9px;
  border: 1px solid #e1e8ed;
}

.sweet-alert.twitter button.cancel:hover, .sweet-alert.twitter button.cancel:focus:hover {
  background-color: #e1e8ed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e1e8ed));
  background-image: linear-gradient(#fff, #e1e8ed);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  border-color: #e1e8ed;
}

.sweet-alert.twitter button.cancel:focus {
  background: #fff;
  border-color: #fff;
}

.sweet-alert.twitter .sa-icon {
  -webkit-transform: scale(0.72);
          transform: scale(0.72);
  margin-bottom: -2px;
  margin-top: -10px;
}

.sweet-alert.twitter input {
  border: 1px solid #e1e8ed;
  border-radius: 3px;
  padding: 10px 7px;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 13px;
  margin: 10px 0;
}

.sweet-alert.twitter input:focus {
  border-color: #94A1A6;
  -webkit-box-shadow: inset 0 0 0 1px rgba(77, 99, 107, 0.7);
          box-shadow: inset 0 0 0 1px rgba(77, 99, 107, 0.7);
}

.sweet-alert.twitter fieldset .sa-input-error {
  display: none;
}

.sweet-alert.twitter .sa-error-container {
  text-align: center;
  border: none;
  background-color: #fbedc0;
  margin-bottom: 6px;
}

.sweet-alert.twitter .sa-error-container.show {
  border: 1px solid #f0e1b9;
}

.sweet-alert.twitter .sa-error-container .icon {
  display: none;
}

.sweet-alert.twitter .sa-error-container p {
  color: #292f33;
  font-weight: 600;
  margin-top: 0;
}
