// Устанавливает шрифт
@charset "UTF-8";


@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr-Regular.eot');
	src: local('../fonts/Avenir Next Cyr Regular'), local('../fonts/AvenirNextCyr-Regular'),
		url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
		url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr-Bold.eot');
	src: local('../fonts/Avenir Next Cyr Bold'), local('../fonts/AvenirNextCyr-Bold'),
		url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
		url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr-Thin.eot');
	src: local('../fonts/Avenir Next Cyr Thin'), local('../fonts/AvenirNextCyr-Thin'),
		url('../fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextCyr-Thin.woff') format('woff'),
		url('../fonts/AvenirNextCyr-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("../fonts/MyriadPro-Regular.otf") format("opentype"), /* Open Type Font */
	  url("../fonts/MyriadPro-Regular.svg") format("svg"), /* Legacy iOS */
	  url("../fonts/MyriadPro-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("../fonts/MyriadPro-Regular.woff") format("woff"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
 }



@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/slick-slider/slick/slick-theme.scss";
@import "../node_modules/slick-slider/slick/slick.scss";



.nav-menu{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	padding-right: 2.25rem;
	padding-top: 1.5rem;
}

.nav-menu ul {
	margin: 0rem;
}

.nav-menu ul li a {
color: #707070;
font-family: "Avenir Next Cyr";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-decoration: none;
}


.nav-menu ul li a:hover{
	color: #ffffff;
	border-bottom: 1px solid #12bcc1;
	padding-bottom: 2.05rem;
	position: relative;
	z-index: 10;

}


.logo{
	padding-right: 2.375rem;
	padding-left: 6.1875rem;
	margin-top: 1.125rem;
	padding-bottom: 1.25rem;
}

.back-dark-gray {
	background-color: #1a1a1a;
}

.feedback-connection{
	background-color: #12bcc1;
	height: 3.125rem;
	width: 11.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	// margin-right: 6.3125rem;
	margin-top: 0.8125rem;
	position: relative;
   z-index: 150;
}


.feedback-connection a{
width: 109px;
height: 10px;
color: #ffffff;
font-family: "Avenir Next Cyr";
font-size: 12px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-decoration: none;
}


.header-text {
width: 27.625rem;
color: #ffffff;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 100;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 3.75rem;
position: relative;
}

.header-title {
width: 36rem;
color: #ffffff;
font-family: "Bitter";
font-size: 40px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;	
line-height: normal;
margin-top: 6.9375rem;
position: relative;
}

.header-title span {
font-family: "Bitter";
color: #12bcc1;
font-size: 40px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.header-button-group {
	margin-top: 4.875rem;
}


.header-button-group button:nth-child(1){
	width: 8.75rem;
	height: 3.125rem;
	background-color: #292929;
	border: none;
	color: #ffffff;
	font-family: "Avenir Next Cyr";
	font-size: 12px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-right: 0.625rem;
	outline: none;
	text-transform: uppercase;
}

.header-button-group button:nth-child(2){
	width: 8.75rem;
	height: 3.125rem;
	background-color: #e3a102;
	border: none;
	color: #ffffff;
	font-family: "Avenir Next Cyr";
	font-size: 12px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	outline: none;
	text-transform: uppercase;
}

.header-inform-block{
	padding-left: 11.5625rem;
	position: relative;
}

.header-inform-block::after{
	content: '';
	position: absolute;
	top: -3.75rem;
	left: 0rem;
	width: 100%;
	border-top: 1px solid  #ffffff;
	opacity: 0.15;
}

.header-inform-block::before{
	content: '';
    position: absolute;
    top: -3.7rem;
    left: 4.9375rem;
    width: 0.0625rem;
    height: 39.9375rem;
    border-top: 39.9375rem solid #ffffff;
    opacity: 0.15;
}


.pictur-header-block img{
	width: 28.6rem;
}

.pictur-header-block {
	position: relative;
    z-index: 100;
	 top: -5rem;
	 left: -0.5rem;
}


.solid-header-black {
	width: 13rem;
	height: 14.5rem;
	background-color: #000000;
	position: absolute;
	z-index: 150;
	top: 11.3125rem;
	left: -0.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0rem 0rem 0rem 2.0625rem;
}


.solid-header-black p:nth-child(1) {
color: #12bcc1;
font-family: "Avenir Next Cyr";
font-size: 12px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
}

.solid-header-black p:nth-child(2) {
color: #ffffff;
font-family: "Avenir Next Cyr";
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
width: 9.5rem;
}

.solid-header-black p:nth-child(3) a{
color: #6d6d6d;
font-family: "MyriadPro-Regular";
font-size: 12px;
font-weight: normal;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.solid-small-header-black {
	width: 9.375rem;
	height: 3.125rem;
	position: absolute;
	top: 19.1875rem;
	left: 13.3rem;
	z-index: 150;
	background-color: #000000;
	display: flex;
	justify-content: center;
}

.solid-small-header-black p{
color: #ffffff;
font-family: "Avenir Next Cyr";
font-size: 12px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
padding: 1.25rem 0rem;
}

.header-tel-block {
	padding-left: 6.25rem;
	display: flex;
	position: relative;
	padding-top: 2.3125rem;
	padding-bottom: 1.6875rem;
}

.header-tel-block span:nth-child(1){
padding-right: 1.125rem;
}

.header-tel-block span:nth-child(2){
color: #e3a102;
font-family: "Bitter";
font-size: 25px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.header-tel-block:before{
	content: '';
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 100%;
	border-top: 1px solid #ffffff;
	opacity: 0.15;
}

// company

.my-container{
	max-width: 1180px;
	margin: 0 auto;
}

.company-color{
	background-color:#f6f6f6;
}

.company {
	display: flex;
}

.company-project {
	display: flex;
}
.company-project-first-block {
	width: 16.40625rem;
	height: 14.4375rem;
	background-color: #12bcc1;
	padding-top: 2.75rem;
	padding-left: 3.8125rem;
	position: relative;

}

.company-project-first-block p:nth-child(1) {
	color: #ffffff;
	font-family: "Bitter";
	font-size: 40px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.company-project-first-block p:nth-child(2) {
	color: #ffffff;
	font-family: "Bitter";
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;	
	width: 8.5625rem;
}

.company-project-first-block::before{
content: '';
position: absolute;
top: 3.8125rem;
right: 0rem;
height: 113px;
width: 5px;
background: url(../img/icon/ver-line-score-company.png)
// border-right: 0.0625rem solid #ffffff;
// opacity: 0.25;
}
.company-project-second-block {
	width: 16.40625rem;
	height: 14.4375rem;
	background-color: #12bcc1;
	padding-top: 2.75rem;
	padding-left: 4.75rem;
}

.company-project-second-block p:nth-child(1){
color: #ffffff;
font-family: "Bitter";
font-size: 40px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.company-project-second-block p:nth-child(2){
color: #ffffff;
font-family: "Bitter";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
width: 6.3125rem;
}
.company-about {
	width: 663.7px;
	background-color: #ffffff;
	position: absolute;
	top: 30.78rem;
	left: 37.3rem;
	z-index: 200;
	padding-left: 3.375rem;
	padding-right: 3.5625rem;
}

.company-about::before{
	content: '';
	position: absolute;
	top: 4.3125rem;
    left: 2rem;
    height: 7.064rem;
    width: 5px;
	// border-left: 1px solid #eaeaea;
	background: url(../img/icon/ver-line-company.png);
}

.company-title {
color: #e3a102;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
margin-top: 3.875rem;
}
.company-subtitle {
color: #000000;
font-family: "Bitter";
font-size: 27px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
width: 23.75rem;
margin-top: 2.5625rem;
}

.company-text {
width: 33.875rem;
color: #000000;
font-family: "Avenir Next Cyr";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 1.6875rem;
padding-bottom: 49px;
}

.social {
	position: relative;
    z-index: 450;
    top: 0rem;
	 left: 24rem;
	 width: 44px;
}


.block-inst{
	width: 2.75rem;
	height: 2.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #12bcc1;
}


.block-face{
	width: 2.75rem;
	height: 2.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #12bcc1;
	margin-top: 1.0625rem;
}

.gallery-pictures {
	display: flex;
	margin-top: 47px;
}

.gallery{
	position: relative;
}

.gallery:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0rem;
	width: 5px;
	height: 115px;
	background: url(../img/icon/ver-line-gallery.png)
	// border-left: 1px solid #eaeaea;
}

.gallery-video{
	position: relative;
}
.gallery-carousel{
	width: 590px;
}

.gallery-slider {
	width: 36.875rem;
	height: 459px;
}

.slider-horizontal {
	display: flex;
}

.slider-item {
}

.slider-item img{
	width: 18.4375rem;
}

.gallery-title{
	margin-top: 159px;
	color: #e3a102;
	font-family: "Avenir Next Cyr";
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	padding-left: 47px;

}

.gallery-subtitle{
	width: 446px;
	color: #000000;
	font-family: "Bitter";
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-top: 69px;
	padding-left: 47px;
}

.up-bg {
	position: absolute;
	width: 589px ;
	height: 459px;
	top: 0;
	left: 0;
	background: #1c94a1;
	opacity: 0.3;

}

.up-bg:hover{
	width: 0px;
	height: 0px;
}

// slider

#slider-1.slick-prev {
	width: 50px;
	height: 50px;
	box-shadow: 0 3px 40px rgba(18, 188, 193, 0.56);
	background-color: #12bcc1;
	position: absolute;
	left: -50px;
	top: 205px;
 }
 
 #slider-1.slick-next {
	 top: -13.05rem;
    width: 50px;
	 height: 50px;
	 border: 1px solid #e0e7ec;
    position: relative;
    left: -50px;
    background-color: #f6f6f6;
 }

 #slider-1.slick-prev:before {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 1rem;
   left: 1.3rem;
	background-image: url(../img/icon/arrow-left.png);
	width: 8px;
	height: 14px;
}


#slider-1.slick-next:before {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 1rem;
	left: 1.3rem;
	background-image: url(../img/icon/arrow-right.png);
	width: 8px;
	height: 14px;
}


// staff

.staff {
	position: relative;
}

.staff::before {
	content: '';
	position: absolute;
	width: 5px;
	height: 114px;
	// border-left: 1px solid #eaeaea;
	left: 87px;
	top: 6.5rem;
	background: url(../img/icon/ver-line-staff.png)

}


.staff-title {
color: #e3a102;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
padding-top: 99px;
padding-left: 134px;
}
.staff-subtitle {
width: 988px;
color: #000000;
font-family: "Bitter";
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 66px;
padding-left: 134px;
}

.staff-carousel{
	margin-top: 56px;
	width: 100%;
}

.staff-carousel .slick-current{
	transform: scale(1)!important;
}

.staff-carousel .slick-slide{
	transform: scale(0.85);
}


.item-carousel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 275px;
	width: 300px;
}

.dir{
	position: absolute;
	z-index: 590;
	color: #e3a102;
	font-family: "Avenir Next Cyr";
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-transform: uppercase;
	top: 200px;
	width: 89%;
   text-align: center;

}

.item-dir{
	position: relative;
}

.item-dir:before{
	content: '';
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 8px;
	height: 90px;
	z-index: 5;
	background-color: #e3a102;
}

.manager-stf{
	position: absolute;
    z-index: 590;
    color: #12bcc1;
    font-family: "Avenir Next Cyr";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    top: 200px;
    width: 89%;
    text-align: center;
}

#slider-2.slick-prev {
	width: 50px;
	height: 50px;
	box-shadow: 0 3px 40px rgba(18, 188, 193, 0.56);
	background-color: #12bcc1;
	position: absolute;
	left: -50px;
	top: 129px;
 }
 
 #slider-2.slick-next {
	 top: -9.5rem;
    width: 50px;
	 height: 50px;
	 border: 1px solid #e0e7ec;
    position: relative;
    right: -72.1rem;
    background-color: #f6f6f6;
 }

 #slider-2.slick-prev:before {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 1rem;
   left: 1.3rem;
	background-image: url(../img/icon/arrow-left.png);
	width: 8px;
	height: 14px;
}


#slider-2.slick-next:before {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 1rem;
	left: 1.3rem;
	background-image: url(../img/icon/arrow-right.png);
	width: 8px;
	height: 14px;
}

// .item-carousel P:nth-child(3){
// 	position: absolute;
// 	z-index: 590;
// 	color: #e3a102;
// 	font-family: "Avenir Next Cyr";
// 	font-size: 16px;
// 	font-weight: 700;
// 	font-style: normal;
// 	letter-spacing: normal;
// 	line-height: normal;
// 	text-transform: uppercase;
// 	top: 320px;
// }

.item-carousel P:nth-child(3){
	position: absolute;
	z-index: 590;
	top: 225px;
	color: #000000;
	font-family: "Avenir Next Cyr";
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	width: 89%;
    text-align: center;
}
.upimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
}
.downimg {
	position: absolute;
	bottom: 155px;
	left: 0;
	z-index: 580;
	width: 210px;
}

.slick-slide{
	// opacity: 0.5;
	// transform: scale(0.8);
}

.slick-active + .slick-active {
	opacity: 1;
}

.slick-active:last-child{
	opacity: 0.5;
}

.staff-color{
	background-color: #ffffff;
}


// document page


.document {
	position: relative;
	
}

.document-color{
	background-color: #f6f6f6;
}
.document::before{
content: '';
position: absolute;
top: 115px;
width: 5px;
height: 114px;
background: url(../img/icon/vert-line-document.png)
// border-left: 1px solid #eaeaea;
}
.documen-title {
color: #e3a102;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
padding-top: 104px;
padding-left: 48px;
}
.documen-subtitle {
width: 1070px;
color: #000000;
font-family: "Bitter";
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 66px;
padding-left: 48px;
}
.type-documen {
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 118px;
}

.type-documen a {
	text-decoration: none;
}

.item-documen {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #12bcc1;
	color: #ffffff;
	font-family: "Avenir Next Cyr";
	font-size: 12px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-transform: uppercase;
	width: 275px;
	height: 50px;
}


// object page


.object-color{
	position: relative;
	background-color: #f6f6f6;
	z-index: 1;
}

.object-color::before{
	content: '';
	position: absolute;
	width: 5px;
	height: 114px;
	// border-left: 1px solid #3d3d3d;
	left: 144px;
	z-index: 5;
	top: 111px;
	background: url(../img/icon/ver-line-our-object.png)
}

.fake-bg{
	width: 100%;
	height: 729px;
	background-color: #1a1a1a;
	position: absolute;
	top: 0rem;
	left: 0rem;
	z-index: 2;
}

.our-object{
	position: relative;
	z-index: 5;
}


.object-title {
color: #e3a102;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding-left: 131px;
padding-top: 98px;
}
.object-subtitle {
width: 894px;
color: #ffffff;
font-family: "Bitter";
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding-left: 131px;
margin-top: 80px;
}

.pictures-object {
	margin-top: 67px;
}
.pictures-object-horizontal {
	display: flex;
}
.pictures-object-item {
	position: relative;
}

.pictures-object-item img {
	width: 100%;
}

.pictures-object-item p:nth-child(2) {
	position: absolute;
	top: 361px;
	left: 30px;
	color: #ffffff;
	font-family: "Avenir Next Cyr - Bold";
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-transform: uppercase;
}

.pictures-object-item p:nth-child(3) {
	position: absolute;
	top: 381px;
	left: 30px;
	color: #ffffff;
	font-family: "Avenir Next Cyr";
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	
}

.item-line-object{
	position: relative;
}

.item-line-object:before{
	content: '';
	position: absolute;
	width: 7px;
	height: 96px;
	background-color: #12bcc1;
	bottom: 0px;
	right: 0px;
}

.item-line-object-center{
	position: relative;

}

.item-line-object-center:before{
	content: '';
	position: absolute;
	width: 7px;
	height: 96px;
	background-color: #12bcc1;
	bottom: -48px;
   right: 0px;
   z-index: 15;
}

.symbol-city {
}
.symbol-title {
color: #e3a102;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
margin-top: 86px;
padding-left: 49px;
}
.symbol-subtitle {
width: 805px;
color: #000000;
font-family: "Bitter";
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 64px;
padding-left: 49px;
}

.all-color{
	background-color: #f6f6f6;
}

.vert-line{
	position: relative;
}


.vert-line::before{
	content: '';
	position: absolute;
	width: 5px;
	height: 114px;
	// border: 1px solid #eaeaea;
	top: 8px;
	left: 83px;
	background: url(../img/icon/vert-line-symbol.png)
}

.symbol-block {
	width: 100%;
	height: 265px;
	border: 1px solid #e0e7ec;
	background-color: #ffffff;
	margin-top: 53px;
	position: relative;
}

.symbol-block:before{
	content: '';
	position: absolute;
	width: 7px;
	height: 97px;
	background-color: #12bcc1;
	top: 0px;
	left: 0px;
}

.symbol-our{
	display: flex;
}
.pict-symbol {
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 50px;
}
.text-symbol {
}
.text-symbol-name {
color: #12bcc1;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
margin-top: 33px;
}
.text-symbol-description {
width: 810px;
color: #000000;
font-family: "Avenir Next Cyr";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 18px;
padding-right: 36px;
}

.symbol-more-inf {
	width: 100%;
	height: 51px;
	background-color: #e3a102;
	display: flex;
	justify-content: center;
	align-items: center;
}

.symbol-more-inf a{
color: #ffffff;
font-family: "Avenir Next Cyr";
font-size: 12px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
}


.gerb-symbol{
	padding-left: 107px;
	padding-right: 113px;
	padding-bottom: 20px;
}

.gimn-symbol {
	padding-left: 127px;
    padding-right: 140px;
    padding-bottom: 20px;
}

.gimn-text{
	margin-top: 1rem;
	margin-bottom: 35px;
}


.footer-column {
	display: flex;
	position: relative;
}


.column-item {
	width: 393px;
	height: 380px;
	position: relative;
}

.column-item::before{
	content: '';
	position: absolute;
	top: 0;
	right: 38px;
	width: 1px;
	height: 380px;
	background-color: #ffffff;
	opacity: 0.15;
}

.column-item p:nth-child(1){
width: 293px;
color: #ffffff;
font-family: "Bitter";
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 81px;
margin-bottom: 0px;
}



.column-item p:nth-child(1) span {
font-family: "Bitter";
font-size: 20px;
font-weight: 700;
color: #12bcc1;
font-style: normal;
letter-spacing: normal;
line-height: normal;


}
.column-item p:nth-child(2){
	display: flex;
	margin-top: 48px;
    margin-bottom: 0px;
}

.column-item p:nth-child(2) span:nth-child(1){
	padding-right: 18px;

}
.column-item p:nth-child(2) span:nth-child(2){
color: #e3a102;
font-family: "Bitter";
font-size: 25px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.column-item p:nth-child(3){
width: 190px;
color: #5b5959;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 24px;
}

.footer{
	background-color: #1a1a1a;
	margin-top: 90px;
}



.column-item-two {
	width: 393px;
	height: 380px;
}


.column-item-two p:nth-child(1){
width: 348px;
color: #ffffff;
font-family: "Bitter";
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin: 0;
margin-top: 79px;

}


.column-item-two p:nth-child(1) span{
	font-family: "Bitter";
	font-size: 20px;
	font-weight: 700;
	color: #12bcc1;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	
}
.column-item-two p:nth-child(2){
width: 190px;
height: 50px;
background-color: #e3a102;
display: flex;
justify-content: center;
align-items: center;
margin-top: 38px;
	
}

.column-item-two p:nth-child(2) a{
color: #ffffff;
font-family: "Avenir Next Cyr";
font-size: 12px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
}
.column-item-two p:nth-child(3){
width: 202px;
color: #5b5959;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}




.column-item-three{
	width: 393px;
	height: 380px;
	position: relative;
	padding-left: 34px;
}

.column-item-three::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 380px;
	background-color: #ffffff;
	opacity: 0.15;
}

.column-item-three p:nth-child(1){
	display: flex;
	justify-content: flex-end;
	margin-top: 91px;
	margin-bottom: 0px;
	
}
.column-item-three p:nth-child(1) span:nth-child(1){
width: 44px;
height: 44px;
background-color: #12bcc1;
display: flex;
justify-content: center;
align-items: center;
margin-right: 22px;
	
}
.column-item-three p:nth-child(1) span:nth-child(2){
width: 44px;
height: 44px;
background-color: #12bcc1;
display: flex;
justify-content: center;
align-items: center;
	
}
.column-item-three p:nth-child(2){
width: 314px;
color: #5b5959;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-top: 66px;
}
.column-item-three p:nth-child(3){
width: 314px;
color: #5b5959;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-top: 32px;
}


.footer-menu {
	padding-top: 40px;
	padding-left: 83px;
	position: relative;
}

.footer-menu::before{
	content: '';
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 1px;
	left: 0;
	top: 0;
	background-color: #ffffff;
	opacity: 0.15;
}


.footer-menu ul{
	display: flex;
	list-style: none;
	margin-bottom: 0px;
	padding: 0;
	width: 520px;
	justify-content: space-between;
}

.footer-menu ul li{
}

.footer-menu ul li a{
color: #5b5959;
font-family: "Avenir Next Cyr";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.rights-menu{
width: 442px;
color: #5b5959;
font-family: "Avenir Next Cyr";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 33px;
padding-bottom: 33px;
padding-left: 83px;
}

.dp-big-screen{
	display: none;
}



// media query


@media(max-width: 1300px){
	.feedback-connection::before {
		left: -153px;
  }

  .company-about {
		left: 36.3rem;
	}
}

@media(max-width: 1200px ) {
	.nav-menu {
		padding-right: 1.25rem;
}

.logo {
	padding-right: 1.375rem;
}

.feedback-connection::before {
	left: -120px;
}

.company-about {
	left: 32.3rem;
	width: 631.7px;
}
.my-container {
	max-width: 1100px;
}

.company-project-first-block {
	width: 14.6rem;
}

.company-project-second-block {
	width: 14.6rem;
}

.gallery-carousel{
	width: 550px;
}
.gallery-video iframe {
	width: 550px;
}

.up-bg {
	width: 550px;
}

.social {
	left: 23rem;
}

#slider-2.slick-next {
	right: -68.1rem;
}

.item-documen {
	width: 256px;
}

.pictures-object-item p:nth-child(2) {
	top: 336px;
}
.pictures-object-item p:nth-child(3) {
	top: 356px;
}

.pict-symbol {
	padding-left: 25px;
	padding-right: 30px;
}

.text-symbol-description {
	width: 755px;
}

.gerb-symbol {
	padding-left: 107px;
	padding-right: 111px;
	padding-bottom: 20px;
}

.gimn-symbol {
	padding-left: 127px;
	padding-right: 140px;
	padding-bottom: 20px;
}

}

@media(max-width: 1199px) {
	.pictur-header-block img {
		width: 24.5rem;
  }

  .my-container {
	max-width: 1080px;
	}
}

@media(max-width: 1180px) {
	.my-container {
		max-width: 1060px;
  	}
  .social {
	left: 21rem;
	}
	.company-text {
	width: 32.875rem;
	}
	.company-about {
		padding-left: 3rem;
  }
  .company-project-first-block {
	width: 13.6rem;
	}
	.company-project-second-block {
		width: 13.6rem;
	}
	.company-about {
		left: 30.9rem;
		width: 617.7px;
  }

  .gallery-title {
	margin-top: 193px;
  }

  .gallery-subtitle {
	width: 444px;
  }

  .gallery-carousel {
	width: 530px;
	}

	.gallery-video iframe {
	width: 530px;
	}

	.up-bg {
		width: 530px;
  }

  #slider-2.slick-next {
	right: -66.1rem;
}

	.documen-subtitle {
		width: 1069px;
	}

	.text-symbol-description {
		width: 710px;
  }

}

@media(max-width: 1024px) {
	.my-container {
		max-width: 900px;
  }

  .header-inform-block {
	padding-left: 6.5625rem;
	}

	.header-text::after {
		left: -28px;
		}

	.header-title::after {
		left: -28px;
	}

	.company-project-first-block {
		width: 12.6rem;
		padding-left: 2.8125rem;
	}

	.company-project-second-block {
		width: 12.6rem;
		padding-left: 3.75rem;
	}
	.company-about {
		left: 29rem;
		width: 498.7px;
		padding-left: 2rem;
	}

	.company-about::before {
		left: 1rem;
	}

	.company-text {
		width: 26.875rem;
	}

	.pictur-header-block img {
		width: 21.86rem;
	}

	.social {
		left: 18.2rem;
	}

	.gallery-carousel {
		width: 450px;
	}

	.gallery-slider {
		height: 370px;
	}

	.up-bg {
		width: 450px;
		height: 349px;
	}

	.gallery-video iframe {
		width: 450px;
		height: 349px;
	}

	.slider-item img {
		width: 14.0625rem;
	}

	.staff-subtitle {
		width: 864px;
	}

	.manager-stf {
		top: 185px;
		width: 97%;
	}

	.item-carousel P:nth-child(3) {
		top: 207px;
		width: 96%;
		font-size: 17px;
	}

	.upimg {
		width: 192px;
	}

	.dir {
		top: 185px;
		width: 97%;
	}

	.solid-small-header-black {
		top: 21.1875rem;
		left: -0.5rem;
	}

	.solid-header-black {
		top: 6.3125rem;
		left: -0.5rem;
	}

	.company-about {
		top: 30.1rem;
	}

	#slider-2.slick-next {
		right: -56.1rem;
	}

	.nav-menu{
		display: none;

	}

	.feedback-connection::before {
		left: -12px;
	}

	.gallery-title {
		margin-top: 334px;
	}

	.item-documen {
		width: 206px;
	}

	.documen-subtitle {
		width: 860px;
	}

	.text-symbol-description {
		width: 554px;
	}


	.column-item-two p:nth-child(1) {
		width: 270px;
	}

	.column-item p:nth-child(1) {
		width: 243px;
	}

	.column-item {
		width: 300px;
	}

	.column-item-two {
		width: 300px;
	}

	.column-item-three {
		width: 300px;
	}

	.header-text::before {
		left: -28px;
	}

}

@media(max-width: 768px) {
	.pictur-header-block img {
		width: 16.5rem;
  }

  .header-text {
	width: 20.625rem;
  }

  .header-title {
	width: 17rem;
  }

  .solid-header-black {
	top: -0.8rem;
}

.solid-small-header-black {
	top: 14rem;
}

.company-about {
	top: 22.6rem;
	left: 25rem;
	width: 368.7px;
}

.company-subtitle {
	width: 20.75rem;
	font-size: 25px;
}

.company-text {
	width: 19.875rem;
}

.block-face {
	margin-top: 0.5rem;
}

.social {
	left: -30.8rem;
}

.gallery-pictures {
	display: flex;
	flex-direction: column;
	margin-top: 72px;
}

.gallery:before {
	left: 1rem;
}

.company-text {
	padding-bottom: 15px;
}

.gallery-carousel {
	height: 349px;
}

.gallery-pictures {
	justify-content: center;
   align-items: center;
}

.item-dir:before {
	z-index: 5;
}
.staff-carousel .slick-list{
	padding-left: 29px!important;
}

.manager-stf {
	top: 185px;
	width: 76%;
}

.item-carousel P:nth-child(3) {
	width: 76%;
}

.dir {
	top: 185px;
	width: 76%;
}

.documen-subtitle {
	width: 752px;

}

.document::before {
	left: 20px;
}

.item-documen {
	width: 177px;
}

.object-subtitle {
	padding-left: 67px;
}

.object-title {
	padding-left: 67px;
}

.header-title {
	font-size: 38px;
}

.header-title span {
	font-size: 36px;
}

.header-inform-block {
	padding-left: 6rem;
}

.object-color::before {
	left: 40px;
}

.object-subtitle {
	width: 697px;
}

.pictures-object-item p:nth-child(3) {
	top: 235px;
}

.pictures-object-item p:nth-child(2) {
	top: 217px;
}

.vert-line::before {
	left: 23px;
}
.symbol-subtitle {
	width: 653px;
}

.text-symbol-description {
	width: 436px;
}
.symbol-block {
	height: 374px;
}

.column-item {
	width: 256px;
}
.column-item-two {
	width: 256px;
}

.column-item-three {
	width: 256px;
}


.column-item p:nth-child(1) {
	width: 181px;
	padding-left: 1rem;
}

.column-item p:nth-child(2) span:nth-child(1) {
	padding-left: 1rem;
}

.column-item p:nth-child(2) span:nth-child(2) {
	font-size: 19px;
}

.column-item p:nth-child(2) {
	align-items: center;

}

.column-item p:nth-child(3) {
	padding-left: 1rem;
}

.column-item p:nth-child(1) {
	margin-top: 50px;

}

.column-item-two p:nth-child(1) {
	margin-top: 50px;
}

.column-item-three p:nth-child(1) {
	padding-right: 1rem;
}

.column-item-three p:nth-child(3) {
	width: 201px;
}

#slider-2.slick-prev {
	left: 311px;
	top: 285px;
}

#slider-2.slick-next {
	top: 0.2rem;
	right: -24.1rem;
}

.staff-subtitle {
	width: 597px;
}

.column-item-three p:nth-child(2) {
	width: 178px;
}
.text-symbol-description{
	padding: 0rem;
    width: 367px;
}

#slider-1.slick-prev {
	top: 149px;
}

#slider-1.slick-next {
	top: -10.7rem;
}

.feedback-connection::before {
	left: -14px;
}

.header-text::before {
	left: -19px;
}

.header-text::after {
	left: -19px;
}

.header-title::after {
	left: -19px;
}

.header-inform-block::before {
	border-top: 41.9375rem solid #ffffff;
}

.header-button-group {
	margin-top: 3.875rem;
	padding-bottom: 2rem;
}

}

@media(max-width: 414px) {
	.feedback-connection {
		display: none;
	}

	.dpnone{
		display: none;
	}

	.dp-big-screen{
		display: flex;
		justify-content: center;
	}

	.header-inform-block::before {
		left: 0.9375rem;
	}
	.header-inform-block {
		padding-left: 0rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
   }

  .header-title {
	text-align: center;
	margin-top: 2.9375rem;
	}

	.pictur-header-block img {
		width: 85%;
	}

	.solid-small-header-black {
		top: 54rem;
		left: 1.9rem;
   }
	.solid-header-black {
		top: 38.2rem;
    	left: 1.9rem;
	}

	.company-about {
		width: 100%;
		background-color: #ffffff;
		position: relative;
		top: 0rem;
		left: 0rem;
		z-index: 200;
		padding-left: 3.375rem;
		padding-right: 3.5625rem;
  }

  .company {
	display: flex;
	flex-direction: column;
	}

	.header-text::before {
		left: -29px;
  }

  .header-text::after {
	left: -29px;
	}

	.header-title::after {
		left: -58px;
  }

  .logo {
	padding-left: 2.1875rem;

}

.header-text {
	text-align: center;

}

.pictur-header-block {
	top: 0rem;
	left: 0rem;
}

.header-tel-block {
	padding-left: 1.25rem;
}

.block-face {
	margin-top: 0rem;
}


.social {
	display: flex;
	top: 1.5rem;
	left: 2.1rem;
	width: 44px;
}

.block-inst{
	margin-right: 1rem;
}

.company-project-second-block {
	width: 100%;
}

.company-project-first-block {
	width: 100%;
}

.gallery-title {
	margin-top: 60px;
}

.slider-item img {
	width: 100%;
}

.gallery-subtitle {
	width: 359px;
}

.up-bg {
	width: 100%;
	height: 349px;
}

.gallery-video iframe {
	width: 100%;
	height: 349px;
}

.gallery-pictures {
	align-items: normal;
}

.gallery-carousel {
	width: 100%;
	height: 322px;
}

.staff-subtitle {
	width: 100%;
	padding: 0rem 2.5rem;
}

.staff-title {
	padding-left: 40px;
}

.staff::before {
	left: 19px;
}

.documen-subtitle {
	width: 90%;
}

.item-documen {
	margin-bottom: 1rem;
}

.type-documen {
	flex-direction: column;
	align-items: center;
}

.object-subtitle {
	width: 100%;
}

.symbol-subtitle {
	width: 100%;
}

.symbol-our {
	flex-direction: column;
}

.pictures-object-horizontal {
	display: flex;
	flex-direction: column;
}


.pictures-object-item p:nth-child(3) {
	left: 15px;
}


.pictures-object-item p:nth-child(2) {
	left: 15px;
}

.symbol-block {
	height: 100%;
}

.text-symbol-description {
	width: 100%;
	text-align: center;
	padding: 0rem 1rem;
	padding-bottom: 1rem;
}

.pict-symbol{
	display: flex;
    align-items: center;
	 justify-content: center;
	 padding-left: 0;
    padding-right: 0;
}

.text-symbol-name {
	text-align: center;
}

.footer-column {
	flex-direction: column;
}

.column-item {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.column-item-two {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.column-item-three {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;

}

.column-item::before {
	display: none;
}

.column-item::after {
	display: none;
}

.column-item p:nth-child(1) {
	margin-top: 0;
	padding-left: 0;
	text-align: center;
}

.column-item p:nth-child(3) {
	width: 70%;
	text-align: center;
	padding-left: 0rem;
}

.column-item p:nth-child(2) span:nth-child(1) {
	padding-left: 0rem;
}

.column-item-two p:nth-child(1) {
	width: 65%;
	text-align: center;
	margin-top: 0px;
}

.column-item-two p:nth-child(3) {
	text-align: center;

}

.column-item-three::before {
	display: none;
}

.column-item-three {
	padding-left: 0px;
}

.footer-menu ul {
	width: 100%;
	flex-direction: column;
    align-items: center;
}

.footer-menu {
	padding-top: 34px;
	padding-left: 0;
	position: relative;
}

.rights-menu {
	padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.slick-slide .upimg {
	margin-left: 4.5rem;
}

#slider-2.slick-next {
	top: 0.2rem;
	right: -14.1rem;
}

#slider-2.slick-prev {
	left: 109px;
	top: 285px;
}

.item-dir:before {
	left: 3rem;
}

.item-carousel P:nth-child(3) {
	width: 86%;
}

.manager-stf {
	width: 86%;
}

.dir {
	top: 185px;
	width: 86%;
}

#slider-1.slick-prev {
	left: 100px;
	top: -30px;
}

#slider-1.slick-next {
	top: -25rem;
	left: 220px;
}

.header-inform-block::after{
	display: none;
}

.header-inform-block::before {
	border-top: 73rem solid #ffffff;
}

.header-inform-block::before {
	top: -5rem;
}
.header-tel-block::after {
	left: 13px;
}

}

@media(max-width: 411px) {
	.header-text::before {
		left: -28px;
  }

  .header-text::after {
	left: -28px;
}

.header-title::after {
	left: -57px;
}

}


@media(max-width: 375px) {
	.social {
		left: 1.1rem;
  }

  .header-tel-block span:nth-child(1) {
	padding-right: 0.7rem;
}

.company-subtitle {
	width: 100%;
}

.company-about {
	padding-left: 2.375rem;
}

.gallery-carousel {
	height: 292px;
}

.solid-header-black {
	left: 1.7rem;
}

.solid-small-header-black {
	top: 53rem;
	left: 1.7rem;
}

.header-text::before {
	left: -10px;
}


.header-text::after {
	left: -10px;
}


.header-title::after {
	left: -39px;
}



}

@media(max-width: 360px) {
	.header-tel-block span:nth-child(2) {
		font-size: 23px;
	}

	.gallery-slider {
		height: 278px;
  }

  .gallery-carousel {
	height: 279px;
}

.dir {
	width: 92%;
}

.item-carousel P:nth-child(3) {
	width: 92%;
}

.manager-stf {
	width: 92%;
}

.slick-slide .upimg {
	margin-left: 3.2rem;
}

.header-text::before {
	left: -2px;
}

.header-text::after {
	left: -2px;
}

.header-title::after {
	left: -31px;
}

.social {
	left: 0.99rem;
}

.solid-small-header-black {
	top: 51.95rem;
}
.solid-header-black {
	top: 36.2rem;
}

}

@media(max-width: 320px) {
	.header-text {
		width: 15.625rem;
   }
  .header-text::before {
	left: -21px;
	}
	.header-text::after {
		left: -21px;
	}
	.header-title::after {
		left: -11px;
	}

	.solid-header-black {
		left: 1.5rem;
  }
  .solid-small-header-black {
	top: 51.5rem;
	left: 1.5rem;
}

.header-button-group button:nth-child(2) {
	width: 7.75rem;
}

.header-button-group button:nth-child(1) {
	width: 7.75rem;
}

.header-tel-block span:nth-child(2) {
	font-size: 19px;
}

.social {
	left: 0.1rem;
}

.company-project-first-block {
	padding-left: 1rem;
}

.company-project-second-block {
	padding-left: 2rem;
}
.company-text {
	width: 15.875rem;
}

#slider-1.slick-prev {
	left: 92px;
}

#slider-1.slick-next {
	top: -19.2rem;
	left: 182px;
}

.gallery-subtitle {
	width: 316px;
}

.gallery-slider {
	height: 248px;
}
.gallery-carousel {
	height: 248px;
}

.slick-slide .upimg {
	margin-left: 2rem;
}

#slider-2.slick-prev {
	left: 90px;
}

#slider-2.slick-next {
	top: 0.2rem;
	right: -11.1rem;
}

.documen-subtitle {
	width: 96%;
}

.pictures-object-item p:nth-child(2) {
	top: 174px;
}

.pictures-object-item p:nth-child(3) {
	top: 191px;
}

}


// menu burger

.hide{
	top: -26rem !important;
	transition: all 0.3s ease 0s;
}

.feedback-burger{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #12bcc1;
}

.feedback-burger a{
color: #ffffff;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.hidden{
	overflow: hidden;
}


.header__burger {
	// display: none;
	width: 30px;
	position: relative;
	z-index: 5899;
	height: 21px;
	margin-top: 1.6125rem;
	margin-left: 3rem;
}

.burger__menu {
	position: fixed;
	z-index: 5899;
	right: 0;
	top: 5rem;
	width: 349px;
	transition: all 0.3s ease 0s;

}



.burger__list {
	width: 100%;
	background-color: #1a1a1a;
}

.burger__list ul {
	 padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
	 align-items: center;
	 padding: 1rem 0;
}


.burger__list ul li a {
	text-decoration: none;
}
 
.burger__link {
color: #707070;
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.burger__link:hover{
font-family: "Avenir Next Cyr";
font-size: 16px;
font-weight: 400;
color: #ffffff;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

@media (max-width: 1024px) {
	.dpoff{
		display: none;
	}
}

@media (max-width: 1024px) {
	.header__burger span {
		position: absolute;
		left: 0px;
		background-color: #000000;
		width: 30px;
		height: 2px;
		top: 9px;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 1024px) {
	.header__burger:before {
		content: "";
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0px;
		top: 0px;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 1024px) {
	.header__burger:after {
		content: "";
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0px;
		bottom: 0px;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}

.header__burger.active span {
	transform: scale(0);
}

.header__burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active::after {
	transform: rotate(-45deg);
	bottom: 9px;
}

@media(max-width: 768px) {
	.header__burger {
		margin-left: 1rem;
  }
  .burger__list {
	height: 281px;
  }

  .hide {
	top: -25rem !important;
}
.burger__menu {
	width: 267px;
}
}

@media(max-width: 414px) {
	.header__burger {
		position: absolute;
		right: 3rem;
		top: -3.3rem;
		margin-top: 0rem;
		margin-left: 0rem;
  }

  .burger__list {
	height: 330px;
}

.burger__menu {
	width: 100%;
}

.burger__link {
	font-size: 19px;
}

.burger__link:hover{
	font-size: 19px;
}

.hide {
	top: -22rem !important;
}

}
